{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock%}

{% block body_block %}
    <div class="page-header">
            <h1>About</h1>
        </div>

        <button id="about-btn"> Click Me - I'm Javascript on Speed</button>

        <p>This is a example</p>

        <p>This is another example</p>

        <button onClick="alert('You clicked the button using Javascript.');">
            Click Me - I run Javascript
        </button>



        <div>
        <p></strong>Here is a picture of EVE.<p>

        <img src="{% static "images/WLBF.jpg" %}" alt="WLBF"/>
        </div>
{% endblock %}
