<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>
        <strong>The most likes categories:</strong><br/>
        {% if most_likes_categories %}
            <ul>
                {% for category in most_likes_categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong><br/>
        {% endif %}

        <strong>The most views categories:</strong><br/>
        {% if most_views_categories %}
            <ul>
                {% for category in most_views_categories %}
             
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <a href="/rango/about/">About</a>
        <a href="/rango/add_category/">Add a New Category</a><br />
    <body>
</html>
